header{
background-color: magenta;
height: 100px;
font-size: 50px;
padding-top: 25px;
text-align: center;
};

/*ui-view {
  font-size: 40px;
};*/

/*.welcome {
  font-size:50px;
};*/

/*.photo {
  width: 300px;
  height: 300px;
};*/
